@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container-fluid {
  max-width: 100%;
}

.container {
  width: 100%;
  margin: auto;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /*  border: 1px solid red;*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.text-center {
  text-align: center
}

.bg-primary {
  background-color: #eee
}

.bg-secondary {
  background-color: #3F6F1A;
}

.bg-info {
  background-color: lightblue
}

.text-primary {
  color: #933536
}

.text-secondary {
  color: antiquewhite
}

.text-info {
  color: lightblue
}

.text-white {
  color: #eee
}

.text-dark {
  color: #333
}

.text-grey {
  color: #666
}

.w-25 {
  width: 25%
}

.w-50 {
  width: 50%
}

.w-75 {
  width: 75%
}

.w-100 {
  width: 100%
}

[class*="w-"] {
  /* border: 1px solid blue;*/
}

.pd-0 {
  padding: 0;
}

.p-cus {
  padding: 15px 15px 15px 0;
}

.pl-10 {
  padding-left: 10px
}

.pd-20 {
  padding-left: 20px;
}

.pl-15 {
  padding-left: 15px;
}

.pd-30 {
  padding: 0 0 0 30px;
}

.pr-10 {
  padding-right: 10px
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px
}

.p-0 {
  padding: 0
}

.d-block {
  display: block
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

/* style cho ảnh nhỏ hơn (icon)vào giữa box bất kỳ*/

.ml-20 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px
}

.mt-30 {
  margin-top: 30px
}

.bb {
  border-bottom: 1px dotted;
}

.d-flex {
  display: flex
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-column-reverse {
  flex-direction: column-reverse
}

.align-item-center {
  align-items: center
}

.justify-content-around {
  justify-content: space-around
}

.justify-content-between {
  justify-content: space-between
}

.justify-content-center {
  justify-content: center
}

@media (max-width:575px) {
  section.banner {
    display: none;
  }
}

@media (min-width:576px) {
  /*-- ngăt code cho phone ngang*/
  section.banner {
    display: none;
  }
  .container {
    width: 540px;
    margin: auto
  }
  .col-sm-1 {
    width: 8.33%
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width:768px) {
  /*-- ngăt code cho ipad đứng*/
  section.banner {
    display: none;
  }
  .container {
    width: 720px;
    margin: auto
  }
  .col-md-1 {
    width: 8.33%
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media(max-width:992px) {
  nav ul {
    display: flex;
  }
  nav ul li {
    display: inline-block;
    height: 100%;
    padding: 30px 10px;
  }
  nav ul li:not(:first-child) {
    margin-left: 30px;
  }
  * {
    font-size: 12px;
  }
  .icon-box {
    display: flex;
  }
}

@media (min-width:992px) {
  /*-- ngăt code cho ipad đứng- pc nhỏ 1024*/
  section.banner {
    display: flex;
  }
  nav ul {
    display: flex;
  }
  nav ul li:not(:first-child) {
    margin-left: 60px;
  }
  .container {
    width: 960px;
    margin: auto;
  }
  .col-lg-1 {
    width: 8.33%
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width:1200px) {
  /*-- ngăt code cho ipad đứng- pc nhỏ 1024*/
  section.banner {
    display: flex;
  }
  .container {
    width: 1140px;
    margin: auto
  }
  .col-xl-1 {
    width: 8.33%
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}